@charset "UTF-8";

body{
    width: 100%;
}

/* header */
header img{
    width: 40px;
}
.top_nav{
    text-align: right;
    background-color: #232529;
}
.top_nav_area{
    margin: 20px;
    color: white;
}
.top_nav_area a{
    color: white;
    text-decoration: none;
}
.nav-item{
    list-style-type: none;
}
.nav-item::marker{
    display: none;
}

/* main */



/* Footer */
.footer_p1{
    width: 100%;
    height: 20px;
    background-color: #62350b;
}
.footer_p2{
    width: 100%;
    height: 40px;
    background-color: #f8db5d;
}