<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="com/hobbycam/sqlMap/lessonSQL.xml"/>
		<mapper resource="com/hobbycam/sqlMap/teacherSQL.xml"/>
		<mapper resource="com/hobbycam/sqlMap/memberSQL.xml"/>
		<mapper resource="com/hobbycam/sqlMap/resumeManageSQL.xml"/>
		<mapper resource="com/hobbycam/sqlMap/resumeSQL.xml"/>
		<mapper resource="com/hobbycam/sqlMap/adminSQL.xml"/>
		<mapper resource="com/hobbycam/sqlMap/myCouponSQL.xml"/>
		<mapper resource="com/hobbycam/sqlMap/myLessonScheduleSQL.xml"/>
		<mapper resource="com/hobbycam/sqlMap/myPostSQL.xml"/>
		<mapper resource="com/hobbycam/sqlMap/myUserSQL.xml"/>
		<mapper resource="com/hobbycam/sqlMap/myLessonRecordSQL.xml"/>
		<mapper resource="com/hobbycam/sqlMap/myPaySQL.xml"/>
		<mapper resource="com/hobbycam/sqlMap/usersSQL.xml"/>
		<mapper resource="com/hobbycam/sqlMap/reviewSQL.xml"/>
		<mapper resource="com/hobbycam/sqlMap/couponSQL.xml"/>
		<mapper resource="com/hobbycam/sqlMap/paymentSQL.xml"/>
		<mapper resource="com/hobbycam/sqlMap/levelSQL.xml"/>
		<mapper resource="com/hobbycam/sqlMap/categorySQL.xml"/>
		<mapper resource="com/hobbycam/sqlMap/indexSQL.xml"/>
	</mappers>
</configuration>
